<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="rsk-shared" value="https://pkgs.dev.azure.com/rocksolidknowledge/_packaging/RSKTools/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="LocalNuget" value="../s/LocalNuget" />
  </packageSources>
</configuration>